.background_panel{
    background-color: #F5F5F5;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: left;
    font-size: 100%;
    overflow: auto;
}
.top_bar{
     background-color: #343434;
     display: block;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 50px;
     box-shadow: 0 0 15px #101010;
     z-index: 1;
     text-align: left;
     font-size: 100%;
 }
.left_bar{
    background-color: #343434;
    display: inline-block;
    position: fixed;
    top: 50px;
    left: 0;
    width: 250px;
    bottom: 0;
    box-shadow: 0 0 15px #101010;
    z-index: 0;
    text-align: left;
    font-size: 100%;
    overflow: auto;
}
.default_panel{
    display: block;
    position: fixed;
    top: 50px;
    left: 250px;
    right: 0;
    bottom: 0;
    z-index: 0;
    text-align: left;
    font-size: 100%;
    overflow: auto;
}
.top_title{
    position: absolute;
    font-size: 20px;
    left: 62px;
    top: 12px;
    color: #FFF;
}
.top_version{
    position: absolute;
    font-size: 12px;
    left: 260px;
    top: 20px;
    color: #808080;
}
.top_sep{
    position: absolute;
    font-size: 28px;
    top: 6px;
    left: 300px;
    color: #FFF;
}
.top_username{
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 320px;
    color: #EEE;
}
.log_out_btn{
    display: block;
    position: absolute;
    font-size: 18px;
    height: 28px;
    width: 120px;
    right: 20px;
    top: 5px;
    text-indent: 0;
    padding: 5px 0 0 0;
    text-align: center;
    color: #EEE;
    background-color: #555;
    border: 1px solid #EEE;
    cursor: pointer;
}
.left_navigation_icon{
    position: absolute;
    font-size: 24px;
    width: 36px;
    height: 36px;
    padding: 7px 6px 5px 6px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

.top_navigation_icon{
    position: absolute;
    font-size: 24px;
    width: 36px;
    height: 36px;
    padding: 7px 6px 5px 6px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

.left_glance_button{
    display: block;
    position: absolute;
    font-size: 18px;
    height: 28px;
    width: 100%;
    top: 48px;
    text-indent: 50px;
    padding: 12px 0 8px 0;
    text-align: left;
    color: #EEE;
    cursor: pointer;
}
.left_device_list_button{
    display: block;
    position: absolute;
    font-size: 18px;
    height: 28px;
    width: 100%;
    top: 96px;
    text-indent: 50px;
    padding: 12px 0 8px 0;
    text-align: left;
    color: #EEE;
    cursor: pointer;
}
.glance_invoice{
    display: block;
    position: relative;
    margin: 20px 30px;
    font-size: 24px;
}
.glance_page{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.history_grid{
    font-size: 18px;
}
.box_record{
    display: grid;
    position: relative;
    width: 80%;
    margin: 12px 10% 13px 10%;
    box-shadow: 2px 2px 4px #404040;
    cursor: pointer;
}
.lbl_small_id{
    font-size: 9px;
    color: black;
}
.result_code0{
    background-color: #BBB;
    border: 1px solid #BBB;
}
.result_code1{
    background-color: #B77;
    border: 1px solid darkred;
}
.result_code4{
    background-color: #9BC;
    border: 1px solid #589;
}
.result_code7{
    background-color: #bb8;
    border: 1px solid green;
}
.result_code8{
    background-color: #9c7;
    border: 1px solid green;
}
.result_code9{
    background-color: #abc;
    border: 1px solid black;
}

